@import 'nullstyle.scss';

.container {
    max-width: 1160px;
    margin: 0 auto;
}

body {
    background: #121212;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #17171b;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

.vending {
    max-width: 1400px;
    min-height: 1700px;
    background: radial-gradient(97.29% 97.4% at 0 0, rgba(203, 69, 107, 0.5) 0, #646a6f 100%);
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    display: block;
    margin: 0 auto;
}

.vending__preview_label {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    padding-top: 5px;
    text-align: center;
    letter-spacing: .39em;
    color: #fff;
    background: rgba(6, 5, 8, 0.63);
    width: 100%;
    height: 60px;
}

.vending-stickers {
    margin-top: 40px;
}

.vending-stickers__label {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffe4e4;
    text-shadow: -8px 10px 1px rgba(0, 255, 255, 0.5);
}

.vending-stickers__decoration-sticker {
    position: relative;
    right: 65px;
    top: 104px;
    width: 200px;
}

.vending-stickers__decoration-sticker-animation {
    position: relative;
    right: 65px;
    top: 104px;
    width: 200px;
    animation-duration: 3s;
    animation-name: movesticker;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-duration: 1s;
}

.vending-stickers__decoration-sticker-hands {
    position: relative;
    right: 90px;
    top: -60px;
}

.vending-stickers__decoration-sticker-hands-animation {
    position: relative;
    right: 90px;
    top: -60px;
    animation-duration: 3s;
    animation-name: moveHand;
    animation-iteration-count: infinite;
    transition-duration: 1s;
}

@keyframes movesticker {
    from {
        transform: translatex(0px) translatey(0px);
    }

    25% {
        transform: translatex(-3px) translatey(-5px);
    }

    50% {
        right: 65px;
        top: 104px;
    }

    75% {
        transform: translatex(10px) translatey(1px);
    }

    to {
        transform: translatex(0px) translatey(0px);
    }
}

@keyframes moveHand {
    from {
        right: 90px;
        top: -60px;
    }

    25% {
        right: 105px;
        top: -58px;
        animation-timing-function: ease-in;
    }

    50% {
        right: 90px;
        top: -60px;
    }

    75% {
        right: 80px;
        top: -60px;
        animation-timing-function: ease-in;
    }

    to {
        right: 90px;
        top: -60px;
    }
}

.vending-stickers__decoration-element {
    width: 176px;
    height: 141px;
}

.vending-stickers__decoration-machine {
    position: relative;
    right: 15px;
    width: 420px;
    height: 395px;
    animation-duration: 2s;
}

.vending-stickers__button {
    position: relative;
    top: 154px;
    right: 65px;
    background: rgba(18, 18, 18, 0.1);
    border: none;
    background: url(../img/button.png) center (center / cover) no-repeat;
    width: 370px;
    height: 100px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .39em;
    color: #000;
}

.vending-stickers__remark {
    margin-top: 70px;
    width: 740px;
    height: 70px;
    background: rgba(116, 116, 116, 0.48);
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    padding-top: 10px;
    text-align: center;
    letter-spacing: .18em;
    color: #fff;
}

.blog {
    width: 1400px;
    height: 275px;
    background: #121212;
}

.otaky-advertisement {
    width: 1400px;
    height: 545px;
    background: #121212;
}

.otaky-advertisement__img {
    margin-top: 86px;
    width: 576px;
}

.about {
    margin-top: 130px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.about__label {
    font-family: Himagsikan;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
}

.about__sublabel {
    margin-top: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
}

.about__mark {
    margin-top: 120px;
    min-width: 428px;
    height: 380px;
}

.social {
    margin-top: 30px;
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.social__button {
    width: 150px;
    height: 58px;
    background: #fff;
    border-radius: 6px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .08em;
    color: #000;
}

.social__icon-link {
    margin-top: 5px;
    font-family: Rajdhani;
    font-style: normal;
    position: relative;
    left: 50px;
    font-weight: 300;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .08em;
    text-decoration: none;
    color: #fff;
    opacity: .75;

    &:hover {
        opacity: 1;
        color: #fff;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: -42px;
        top: 8px;
        width: 35px;
        height: 35px;
        background: url(../img/add_icon.png) center (center / cover) no-repeat;
    }
}

.sticker-modal {
    position: fixed;
    width: 441px;
    height: 477px;
    top: 182px;
    right: 50%;
    background: rgba(35, 30, 34, 0.9);
    transform: translateX(50%);
}

.sticker-modal__header {
    display: block;
    width: 100%;
    height: 70px;
}

.sticker-modal__label {
    margin-top: 20px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .39em;
    color: #fff;
}

.sticker-modal_success {
    display: none;
    margin: 0 auto;
    color: #71b160;
}

.sticker-modal__close-btn {
    position: absolute;
    background-color: rgba(35, 30, 34, 0);
    border: none;
    top: 0;
    right: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .39em;
    color: rgba(255, 255, 255, 0.8588235294);

    &:hover {
        color: #fff;
    }
}

.sticker-modal__img {
    width: 222px;
    height: 222px;
    display: block;
    margin: 0 auto;
}

.sticker-modal__copy-btn {
    display: block;
    margin: 40px auto 0 auto;
    background-color: rgba(35, 30, 34, 0);
    border: none;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .39em;
    color: rgba(255, 255, 255, 0.8588235294);

    &:hover {
        color: #fff;
    }
}

.blog {
    height: 300px;
    padding-top: 20px;
}

.blog__page {
    text-align: center;
}

.blog__page-img {
    display: block;
    margin: 0 auto;
    width: 900px;
}

.blog__page-label {
    text-align: center;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    color: #fff;
    margin-bottom: 20px;
}

.blog__page-text {
    margin-top: 40px;
    text-align: center;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.blog__page-link {
    display: block;
    margin: 50px auto 0 auto;
    text-align: center;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8039215686);
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

.blog__preview-label {
    margin-top: 170px;
    display: block;
    background-color: rgba(35, 30, 34, 0);
    border: none;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.6196078431);
    text-align: center;
    letter-spacing: .39em;
    color: rgba(255, 255, 255, 0.8588235294);

    &:hover {
        color: #fff;
    }
}

.blog__preview-sublabel {
    display: block;
    background-color: rgba(35, 30, 34, 0);
    border: none;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8588235294);
    background: rgba(0, 0, 0, 0.6196078431);
}

.blog__slider {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

.blog__preview__label {
    display: block;
}

.modal-subscribe {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    text-align: center;
    right: 50%;
    top: 50%;
    width: 413px;
    height: 427px;
    border-radius: 8px;
    background: rgba(35, 30, 34, 0.95);
    transform: translate(50%, -50%);
}

.modal-subscribe__header {
    margin-top: 10px;
    max-width: 350px;
    max-height: 70px;
}

.modal-subscribe__label {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;

    /* or 146% */

    text-align: center;
    letter-spacing: 0.11em;
    color: rgba(255, 255, 255, 0.57);
}

.modal-subscribe__close {
    position: absolute;
    background-color: rgba(35, 30, 34, 0);
    border: none;
    top: 0;
    right: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .39em;
    color: rgba(255, 255, 255, 0.8588235294);
}

.form-subscribe__input {
    margin-top: 35px;
    display: block;
    width: 338px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 50px;
    border-color: rgba(35, 30, 34, 0);

    /* or 208% */

    text-align: center;
    letter-spacing: 0.11em;
    text-align: left;
    color: #797979;

    &:nth-child(1) {
        margin-top: -20px;
    }
}

.form-subscribe__submit {
    width: 338px;
    height: 60px;
    margin-top: 40px;
    background: #666D6A;
    border-radius: 6px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    border-color: rgba(35, 30, 34, 0);

    /* identical to box height, or 109% */

    text-align: center;
    letter-spacing: 0.11em;
    color: rgba(255, 255, 255, 0.79);
}

.form-subscribe__byeMessege {
    display: block;
    margin: auto auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
}

.active {
    display: none;
}

.vending-stickers__button {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
        position: absolute;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
}

.vending-stickers__button-white::after {
    background: rgba(18, 18, 18, 0.1);
}

.vending-stickers__button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.vending-stickers__button-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .wave {
      background: rgba(255, 255, 255, .4);
      border-radius: 50%;
      transform: scale(0);
      animation: wave .5s linear;
      pointer-events: none;
      position: absolute;
    }
    
    @keyframes wave {
      100% {
       transform: scale(2);
       opacity: 0;
      }
    } */

// @import '_nullstyle.scss';

// .container {
//     max-width: 1160px;
//     margin: 0 auto;
// }

// body {
//     background: #121212;
// }

// ::-webkit-scrollbar {
//     width: 5px;
//     /* ширина для вертикального скролла */
//     height: 8px;
//     /* высота для горизонтального скролла */
//     background-color: #17171B;
// }


// /* ползунок скроллбара */
// ::-webkit-scrollbar-thumb {
//     background-color: #ffffff;
//     border-radius: 10px;
// }


// .blog {
//     width: 1400px;
//     height: 275px;
//     background: #121212;
// }

// .otaky-advertisement {
//     width: 1400px;
//     height: 545px;
//     background: #121212;

//     &__img {
//         margin-top: 86px;
//         width: 576px;
//     }
// }

// .sticker-modal {
//     position: fixed;
//     width: 421px +20px;
//     height: 457px +20px;
//     top: 182px;
//     right: 50%;
//     background: rgba(35, 30, 34, 0.9);
//     transform: translateX(50%);

//     &__header {
//         display: block;
//         width: 100%;
//         height: 70px;
//     }

//     &__label {
//         margin-top: 20px;
//         font-family: 'Rajdhani';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 24px;
//         line-height: 50px;
//         /* or 156% */

//         text-align: center;
//         letter-spacing: 0.39em;

//         color: #FFFFFF;
//     }

//     &_success {
//         display: none;
//         margin: 0 auto;
//         color: #71B160;
//     }

//     &__img {
//         width: 222px;
//         height: 222px;
//         display: block;
//         margin: 0 auto;
//     }

//     &__close-btn {
//         position: absolute;
//         background-color: rgba(35, 30, 34, 0.0);
//         border: none;
//         top: 0;
//         right: 0;
//         font-style: normal;
//         font-weight: 400;
//         font-size: 36px;
//         line-height: 50px;
//         /* or 104% */

//         text-align: center;
//         letter-spacing: 0.39em;

//         color: #ffffffdb;

//         &:hover {
//             color: #fff;
//         }


//     }

//     &__copy-btn {
//         display: block;
//         margin: 40px auto 0 auto;
//         background-color: rgba(35, 30, 34, 0.0);
//         border: none;
//         font-family: 'Rajdhani';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 40px;
//         line-height: 50px;
//         /* or 104% */

//         text-align: center;
//         letter-spacing: 0.39em;

//         color: #ffffffdb;


//         &:hover {
//             color: #fff;
//         }
//     }
// }

// .active {
//     display: none;
// }


// .blog {
//     height: 300px;
//     padding-top: 20px;

//     &__page {
//         &-img {
//             display: block;
//             margin: 0 auto;
//             width: 900px;
//         }
//     }

//     &-label {
//         text-align: center;
//         font-family: 'Rajdhani';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 38px;
//         color: #fff;
//         margin-bottom: 20px;
//         /* or 104% */
//     }

//     &-text {
//         margin-top: 40px;
//         text-align: center;
//         font-family: 'Rajdhani';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 24px;
//         color: #fff;
//     }

//     &-link {
//         display: block;
//         margin: 50px auto 0 auto;
//         text-align: center;
//         font-family: 'Rajdhani';
//         font-style: normal;
//         font-weight: 600;
//         font-size: 30px;
//         color: #ffffffcd;
//         text-decoration: none;

//         &:hover {
//             color: #fff;
//         }
//     }


//     text-align: center;

//     &__preview-label {
//         margin-top: 170px;
//         display: block;
//         background-color: rgba(35, 30, 34, 0.0);
//         border: none;
//         font-family: 'Rajdhani';
//         font-style: normal;
//         font-weight: 600;
//         font-size: 20px;
//         background: #0000009e;
//         /* or 104% */

//         text-align: center;
//         letter-spacing: 0.39em;
//         color: #ffffffdb;

//         &:hover {
//             color: #fff;
//         }
//     }

//     &__preview-sublabel {
//         display: block;
//         background-color: rgba(35, 30, 34, 0.0);
//         border: none;
//         font-family: 'Rajdhani';
//         font-style: normal;
//         font-weight: 600;
//         font-size: 15px;
//         line-height: 50px;
//         text-align: center;
//         color: #ffffffdb;
//         background: #0000009e;
//     }

//     &__slider {
//         display: block;
//         margin: 0 auto;
//         max-width: 1200px;
//     }
// }

// .blog__preview {
//     column-gap: 78px;
//     flex-wrap: wrap;
//     row-gap: 20px;
//     text-decoration: none;
//     min-width: 248px;
//     min-height: 248px;
//     background: url('../img/otaky_promo copy.jpg') center (center / cover) no-repeat;
//     border-radius: 4px;

//     &:nth-child(1) {
//         background: url('../sticker/1.png') center (center / cover) no-repeat
//     }

//     &__label {
//         display: block
//     }
// }



// @import '_vending.scss';
// @import '_about.scss';
// @import '_social.scss';