.social {
    margin-top: 30px;
    width: 330px;
    display: flex;
    justify-content: space-between;

    &__button {
        width: 150px;
        height: 58px;
        background: #FFFFFF;
        border-radius: 6px;
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 50px;
        /* or 312% */

        text-align: center;
        letter-spacing: 0.08em;

        color: #000000;
    }

    &__icon-link {
        margin-top: 5px;
        ;
        font-family: 'Rajdhani';
        font-style: normal;
        position: relative;
        left: 50px;
        font-weight: 300;
        font-size: 16px;
        line-height: 50px;
        /* identical to box height, or 312% */
        text-align: center;
        letter-spacing: 0.08em;
        text-decoration: none;
        color: #FFFFFF;
        opacity: 0.75;
    }

    &:hover {
        opacity: 1.0;
        color: #FFFFFF;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: -42px;
        top: 8px;
        width: 35px;
        height: 35px;
        background: url('../img/add_icon.png') center (center / cover) no-repeat;
    }
}